doctype
html(lang="zh")
    head
        title #{title}
    body
        p Hello!World
        p Wellcome to #{title}
        p
            a(href="/login") 登陆
        p
            a(href="/register") 注册
