<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>
</head>

<body>
    <p>Hello!World</p>
    <p>Wellcome to </p>
    <h1><a href="/">首页</a></h1>
    <form action="/signin" method="post">
        <p><span>用户名:</span><br><input id="name" name="name" type="text"></p>
        <p><span>密码:</span><br><input id="password" name="password" type="password"></p>
        <p><input type="submit" value="提交"></p>
        <p><a href="/signup">去注册</a></p>
    </form>
</body>

</html>