<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>
</head>

<body>
    <p>Hello!World</p>
    <p>Wellcome to </p>
    <p>登陆成功！</p>
    <h1><a href="/">首页</a></h1>
    <p><a href="/signout" class="cla">登出</a></p>
</body>

</html>